<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type = "text/css" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/style.css">
    <title> Home </title>
</head>
<body>

    <div class = "index-main">
        <h1 style="padding-left: 12%; margin-top: 5rem; margin-bottom: 3rem; font-weight: bolder; color: black;"> Welcome To The Ashanti Region EC Voting App </h1>
               

    </div>
    
</body>
</html>
